<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--more code here-->
<ul class="ul">
    <li class="li title">
        <a routerLink='../home'><img class="image" src="../../favicon.ico"> Fitness Tracker</a>
    </li>


    <li class="li"><a routerLink='../login'>Login</a></li>

    <!-- <li class="li"><a routerLink='../signup'>signup</a></li> -->
    <li class="li"><a routerLink='../index'>Index</a></li>

    <!-- <li class="li"><a routerLink='../home'>Home</a></li> -->

</ul>
<div class="container1">  

<h1 class="itallstartedhere"><b> <U>IT ALL STARTED HERE</U> </b>
</h1>

<div class="Maps">

  
    <!-- Section: Block Content -->
    <section class="mb-4">
  
      <style>
        .map-container {
          overflow: hidden;
          position: relative;
          height: 0;
        }
  
        .map-container iframe {
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      </style>
  
      <div class="card">
  
        <div class="row my-md-5 py-md-4 p-3">
          <div class="col-md-10 mx-auto">
  
            <!-- Google Maps -->
            <div id="map-within-card" class="map-container" style="height: 400px">
              <iframe src="https://maps.google.com/maps?q=chandigarhuniversity&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
            </div>
            <!-- Google Maps -->
  
          </div>
        </div>
        <h1 class="itallstartedher"><u>STORY OF FITNESS TRACKER</u></h1>
          <h3 class="story">We were the students of Chandigarh University belonging to different states, All of us have two common interests those are Fitness and programming, So using our education as a tool we wanted to give physical health to many people out there, That was the time when Fitness Tracker was born. We struggled for it and nurtured it as our baby and now we were proud to see our baby growing.</h3>
  
      </div>
  
    </section>
    <!-- Section: Block Content -->
  
    
  </div>
</div>


<div class="container pt-5 my-5 z-depth-1">
    <section class="p-md-3 mx-md-5 text-center">
      <h2 class="text-center mx-auto font-weight-bold mb-4 pb-2">Our Team</h2>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="p-4">
            <div
              class="avatar w-100 white d-flex justify-content-center align-items-center"
            >
              <img
                src="https://i.postimg.cc/1XqDxRfc/20200523-085310-1.jpg"
                class="img-fluid rounded-circle z-depth-1"
              />
            </div>
            <div class="text-center mt-3">
              <h6 class="font-weight-bold pt-2">Prudhvi sai</h6>
             
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="p-4">
            <div
              class="avatar w-100 white d-flex justify-content-center align-items-center"
            >
              <img
                src="https://i.postimg.cc/C1Wf4ymZ/danish-1.jpg"
                class="img-fluid rounded-circle z-depth-1"
              />
            </div>
            <div class="text-center mt-3">
              <h6 class="font-weight-bold pt-2">Danish lone</h6>
              <p class="text-muted">
                <small
                  ><i
                    ></i
                  ></small
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="p-4">
            <div
              class="avatar w-100 white d-flex justify-content-center align-items-center"
            >
              <img
                src="https://i.postimg.cc/02zBQ7Jc/swamy-1.jpg"
                class="img-fluid rounded-circle z-depth-1"
              />
            </div>
            <div class="text-center mt-3">
              <h6 class="font-weight-bold pt-2">Swamy naik</h6>
              <p class="text-muted">
                <small
                  ><i
                    >
                    </i
                  ></small
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="p-4">
            <div
              class="avatar w-100 white d-flex justify-content-center align-items-center"
            >
              <img
                src="https://i.postimg.cc/hv3Hfrr1/abhishek-1.jpg"
                class="img-fluid rounded-circle z-depth-1"
              />
            </div>
            <div class="text-center mt-3">
              <h6 class="font-weight-bold pt-2">Abhishek sharma</h6>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="p-4">
            <div
              class="avatar w-100 white d-flex justify-content-center align-items-center"
            >
              <img
                src="https://i.postimg.cc/jqp6r1yq/Rachit-bhansal-1.jpg"
                class="img-fluid rounded-circle z-depth-1"
              />
            </div>
            <div class="text-center mt-3">
              <h6 class="font-weight-bold pt-2">Rachit Bhansal</h6>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="p-4">
            <div
              class="avatar w-100 white d-flex justify-content-center align-items-center"
            >
              <img
                src="https://i.postimg.cc/jdBHtFNd/suraj-1.jpg"
                class="img-fluid rounded-circle z-depth-1"
              />
            </div>
            <div class="text-center mt-3">
              <h6 class="font-weight-bold pt-2">Suraj gaur</h6>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="p-4">
            <div
              class="avatar w-100 white d-flex justify-content-center align-items-center"
            >
              <img
                src="https://i.postimg.cc/Zn7NMFWH/IMG-20191018-131943.jpg"
                class="img-fluid rounded-circle z-depth-1"
              />
            </div>
            <div class="text-center mt-3">
              <h6 class="font-weight-bold pt-2">Sushant Sharma</h6>
              
            </div>
          </div>
        </div>
        
      </div>
    </section>
  </div>


  <div class="container my-5">

  
    <!-- Section: Block Content -->
    <section>
      
      <h3 class="font-weight-bold text-center dark-grey-text pb-2">Statistic Data</h3>
      <hr class="w-header my-4">
      <p class="lead text-center text-muted pt-2 mb-5"></p>
  
      <div class="row white-text">
  
        <!-- Grid column -->
        <div class="col-xl-3 col-md-6 mb-4">
  
          <!-- Card Primary -->
          <div class="card classic-admin-card primary-color">
            <div class="card-body py-3">
              <i class="far fa-money-bill-alt"></i>
              <p class="small">PREMIUM SUBSCRIPTION</p>
              <h4>12000</h4>
            </div>
            <div class="progress md-progress">
              <div class="progress-bar grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="card-body pt-2 pb-3">
              <p class="small mb-0">Better than last week (15%)</p>
            </div>
          </div>
          <!-- Card Primary -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-xl-3 col-md-6 mb-4">
  
          <!-- Card Yellow -->
          <div class="card classic-admin-card warning-color">
            <div class="card-body py-3">
              <i class="fas fa-chart-line"></i>
              <p class="small">SUBSCRIPTIONS</p>
              <h4>70200</h4>
            </div>
            <div class="progress md-progress">
              <div class="progress-bar bg grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="card-body pt-2 pb-3">
              <p class="small mb-0">Better than last week (25%)</p>
            </div>
          </div>
          <!-- Card Yellow -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-xl-3 col-md-6 mb-4">
  
          <!-- Card Blue -->
          <div class="card classic-admin-card light-blue lighten-1">
            <div class="card-body py-3">
              <i class="fas fa-chart-pie"></i>
              <p class="small">TRAFFIC</p>
              <h4>200000</h4>
            </div>
            <div class="progress md-progress">
              <div class="progress-bar grey darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="card-body pt-2 pb-3">
              <p class="small mb-0">Better than last week (75%)</p>
            </div>
          </div>
          <!-- Card Blue -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-xl-3 col-md-6 mb-4">
  
          <!-- Card Red -->
          <div class="card classic-admin-card red accent-2">
            <div class="card-body py-3">
              <i class="fas fa-chart-bar"></i>
              <p class="small">ORGANIC TRAFFIC</p>
              <h4>125000</h4>
            </div>
            <div class="progress md-progress">
              <div class="progress-bar grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="card-body pt-2 pb-3">
              <p class="small mb-0">Better than last week (25%)</p>
            </div>
          </div>
          <!-- Card Red -->
  
        </div>
        <!-- Grid column -->
  
      </div>
  
    </section>
    <!-- Section: Block Content -->
    
  
  </div>



<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About us</h6>
          <p class="text-justify"><b>Fitness Tracker</b> is established to give the healthy life back to the people who were in the search of health and well-being because <i>EVERYONE DESERVES TO BE HEALTHY AND FIT</i></p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Our Services</h6>
          <ul class="footer-links">
            <li><a href="https://www.google.com/search?q=cardio"> Cardio</a></li>
            <li><a href="https://www.google.com/search?q=weight%20training">Weight training</a></li>
            <li><a href="https://www.google.com/search?sxsrf=ALeKk00NrDzl7fU4BZjCgU964njQ4jFGCg%3A1593100327161&ei=J8j0XtS9Cd3Wz7sPn_q16A4&q=yoga&oq=yoga&gs_lcp=CgZwc3ktYWIQAzIHCAAQsQMQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIFCAAQsQM6BwgjEOoCECc6BAgjECc6BQgAEIMBOgIIAFCaqgFYqa8BYP-wAWgBcAB4AIABzwGIAdADkgEFMC4yLjGYAQCgAQGqAQdnd3Mtd2l6sAEK&sclient=psy-ab&ved=0ahUKEwiU7d2YqZ3qAhVd63MBHR99De0Q4dUDCAw&uact=5">Yoga</a></li>
            <li><a href="https://www.google.com/search?sxsrf=ALeKk03-qMXon0xm7usw5-QeX5J5MvIWlQ%3A1593100372284&ei=VMj0Xr_4EKfjz7sPiMS1qAs&q=meditation&oq=medi&gs_lcp=CgZwc3ktYWIQAxgAMgcIABCxAxBDMgQIABBDMgIIADIHCAAQFBCHAjIFCAAQsQMyAggAMgIIADICCAAyBQgAELEDMgUIABCDAToHCCMQ6gIQJzoECCMQJzoFCAAQkQJQrcoCWIDPAmD_2AJoAXAAeACAAY4CiAGvB5IBBTAuMS4zmAEAoAEBqgEHZ3dzLXdperABCg&sclient=psy-ab">Meditation</a></li>
            <li><a href="https://www.google.com/search?sxsrf=ALeKk01UccHaQvzWEt43Gz_w1wr7_WTCUw%3A1593100351010&ei=P8j0Xt0f3eLPuw_F3r24CQ&q=pilates&oq=pilates&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIECAAQQzIHCAAQsQMQQzIKCAAQsQMQFBCHAjIECAAQQzIFCAAQsQMyBAgAEEMyBAgAEEMyBQgAELEDMgQIABBDOgcIIxDqAhAnOgIIADoFCAAQgwFQ2ZMBWKqbAWDGnAFoAXAAeACAAZQCiAGECZIBBTAuMS40mAEAoAEBqgEHZ3dzLXdperABCg&sclient=psy-ab&ved=0ahUKEwidu42kqZ3qAhVd8XMBHUVvD5cQ4dUDCAw&uact=5">Pilates</a></li>
            <li><a href="https://www.google.com/search?sxsrf=ALeKk02mxh2yEGhVZ1wWofHn3TklNUBIwA%3A1593100417484&ei=gcj0XrSOHdXD3LUPrYiY-AM&q=zumba&oq=zumba&gs_lcp=CgZwc3ktYWIQAzIECAAQQzIECAAQQzIHCAAQsQMQQzIFCAAQsQMyBwgAEBQQhwIyAggAMgUIABCxAzIFCAAQsQMyAggAMgUIABCxAzoHCCMQ6gIQJzoECCMQJzoFCAAQkQI6CAgAELEDEJECUPqcAVjzpQFgsacBaAFwAHgAgAGTAogBwQeSAQMyLTSYAQCgAQGqAQdnd3Mtd2l6sAEK&sclient=psy-ab&ved=0ahUKEwj00ubDqZ3qAhXVIbcAHS0EBj8Q4dUDCAw&uact=5">Zumba</a></li>
          </ul>
        </div>

        
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Fitness Tracker</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="www.twitter.com"><i class="fa fa-twitter"></i></a></li>
            
            <li><a class="linkedin" href="www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>